.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

/* Offtop */
/* Не сразу понял что имелось в виду, поспешил и нахреновертил гору глупостей)) */
/* Спасибо за приведенный пример, очень помогло разобраться без помощи наставника */
