.feynman__link {
  position: absolute;
  text-decoration: none;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  transition: opacity 1s ease;
}

.feynman__link:hover {
  opacity: 0.26;
}
